* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #36393E;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}


.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-login{

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    border: solid;
    border-color: #242526;
    border-width: 1px;

}

.email input{
    font-size:24px;
    outline: none;
    background-color: #36393E;
    width: 100%;
    border-color: #242526;
    box-shadow: none;
    display: inline-block;
    margin: 0;



}

.password input{
    font-size:24px;
    outline: none;
    background-color: #36393E;
    width: 100%;
    border-color: #242526;
    box-shadow: none;
    display: inline-block;
    margin: 0;



}

button{
    font-size:24px ;
    background-color: darkblue;
    color: white;
    border: none;
    width: 100%;
    padding: 4px 64px;
    border-radius: 8%;


}
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('googleplay-button.png');
}
@media (max-width: 1024px) {
    .instagram {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #36393E;
    }

    .instagram {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-login {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}
